* {
    Padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
}

#logIn { 
    background-color: #1E90FF;
    border-radius: 5px;
    position: relative;
    height: 48px; 
    width: 80%;
    display: block;
    margin: auto;
    max-width: 450px;
    min-width: 200px;
    font-weight: bold;
    font-size: 17px;
    color: #fff;
    margin-top: 10px;
    }   
    
    #newAccount {
        background-color: #04aa06;
        border-radius: 5px;
        width:  200px;
        display: block;
        margin: auto;
        font-weight: bold;
        font-size: 17px;
        height: 50px;
        color: #fff;
        cursor: pointer;
      }

      input {
        border-radius: 5px;
        padding: 15px;
        width: 80%;
        max-width: 450px;
        font-size: 17px;
        display: block;
        margin: auto;
        margin-top: 10px;
      }
      
      
      