:root {
    --color: #e40046;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body {
    background: #ddd8d8;
    overflow: scroll;
    padding-top: 90px;
    font-family: sans-serif;
    margin: 0 100px;
}
.profile-header {
    background: white;
    width: 100%;
    display: flex;
    height: 190px;
    position: relative;
    box-shadow: 8px 3px 4px rgba(0,0,0,.2);
}
.profile-img {
    float: left;
    width: 340px;
    height: 200px;
}
.profile-img img {
    border-radius: 50%;
    height: 230px;
    width: 230px;
    position: absolute;
    left: 50px;
    top: 20px;
    z-index: 5;
    background: whites;
}
.profile-nav-info {
    float: left;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
}
.profile-nav-info h3{
    font-variant: small-caps;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
}

.main-bd {
    width: 100%;
    display: flex;
    padding-right: 15px;
}

.profile-side {
    width: 300px;
    background: white;
    box-shadow: 0px 3px 5px rgba(0,0,0,.2);
    padding: 90px 30px 20px;

}


.profile.btn {
    display: flex;
}
button.message-btn, button.follow-btn {
    border: 0;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    background: var(--color);
    font-family: sans-serif;
    font-size: 1rem;
    margin: 5px 2px;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
    transition: background .3s ease-in-out;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,.3);
    color: #fff;
}

.nav {
    width: 100%;
    z-index: -1;
}

.nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    height: 40px;
    background: white;
    box-shadow: 0px 2px 5px rgba(0,0,0,.3);
}

.nav ul li {
    padding: 10px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    transition: all .2s ease-in-out;
}

.nav ul li.active, 
.nav ul li:hover {
    box-shadow: 0px -3px 0px rgba(288, 0, 70, .9) inset;
}

.profile-body {
    width: 100%;
    z-index: -1;
    padding: 20px;
    word-break: break-all;
}

.profiletab {
   display: none;
}

.tab {
    padding: 20px;
    width: 100%;
    text-align: center;
    
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }